/* From Uiverse.io by akshat-patel28 */ 
.form-container {
    width: 22rem;
    height: 27.25rem;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.35) 0 0.313rem 0.938rem;
    border-radius: 0.625rem;
    box-sizing: border-box;
    padding: 1.25rem 1.875rem;
}

.title {
    text-align: center;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", 
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    margin: 0.625rem 0 1.875rem 0;
    font-size: 1.75rem;
    font-weight: 800;
}

.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.125rem;
    margin-bottom: 0.938rem;
}

.input {
    border-radius: 1.25rem;
    border: 0.063rem solid #c0c0c0;
    outline: 0 !important;
    box-sizing: border-box;
    padding: 0.75rem 0.938rem;
}

.page-link {
    text-decoration: underline;
    margin: 0;
    text-align: end;
    color: #747474;
    text-decoration-color: #747474;
}

.page-link-label {
    cursor: pointer;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    font-size: 0.563rem;
    font-weight: 700;
}

.page-link-label:hover {
    color: #000;
}

.form-btn {
    padding: 0.625rem 0.938rem;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
    border-radius: 1.25rem;
    border: 0 !important;
    outline: 0 !important;
    background: teal;
    color: white;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.24) 0 0.188rem 0.5rem;
}

.form-btn:active {
    box-shadow: none;
}

.sign-up-label {
    margin: 0;
    font-size: 0.625rem;
    color: #747474;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.sign-up-link {
    margin-left: 0.063rem;
    font-size: 0.688rem;
    text-decoration: underline;
    text-decoration-color: teal;
    color: teal;
    cursor: pointer;
    font-weight: 800;
    font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
        "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.error {
    border-color: red;
  }
  
  .error-message {
    color: red;
    font-size: 0.75rem;
    margin-top: -0.5rem;
    margin-bottom: 0.5rem;
  }